* {
  margin: 0px;
  padding: 0px;
}

.grid-container {
  display: grid;
  grid-template-rows: 1fr 1fr 10fr 1fr;
  grid-template-areas:
    "nav"
    "menu"
    "gallery"
    "footer";
  height: 100vh;
}

nav {
  padding: 10px;
  grid-area: nav;
  display: flex;
  justify-content: center;
  background-color: #8bb887;
  color: black;
  font-family: "Sacramento", cursive;
  font-size: 10px;
}

menu {
  grid-area: menu;
  background-color: #e5e7ca;
  color: black;
  font-family: "Quicksand", sans-serif;
}

gallery {
  grid-area: gallery;
  background-color: white;
  color: black;
  position: relative;
  overflow-y: auto;
  font-family: "Quicksand", sans-serif;
  padding-bottom: 55px;
}

footer {
  grid-area: footer;
  background-color: #2d5d41;
  color: white;
  display: flex;
  flex-direction: column;
  width: auto;
  font-family: "Quicksand", sans-serif;
}

.sidebar-header {
  display: flex;
  align-items: center;
  gap: 60px;
}

.container-brand {
  display: flex;
  align-items: center;
  font-size: 35px;
}

.name-brand {
}

.logo {
  width: 40px;
}

.item-menu-title {
  text-decoration: none;
  font-family: "Sacramento", cursive;
  font-size: 30px;
  color: #2d5d41;
}

.item-menu {
  color: #2d5d41;
  text-decoration: none;
}

.container-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 20px;
}

.container-contact {
  display: none;
}

.contact {
  display: none;
}

/*-----carrusel gallery mobil-----*/
.carrusel-container {
  overflow: hidden;
  background-color: #e5e7ca;
}

.carrusel {
  animation: automatizacion 12s infinite linear;
  transition: all 0.85s ease;
  width: 300%;
  height: 53vh;
}

.imagenes {
  height: 300px;
  width: 100%;
}

.carrusel-gallery {
  float: left;
  width: 33.333%;
}

@keyframes automatizacion {
  0% {
    margin-left: 0;
  }

  30% {
    margin-left: 0;
  }

  35% {
    margin-left: -100%;
  }

  65% {
    margin-left: -100%;
  }

  70% {
    margin-left: -200%;
  }

  95% {
    margin-left: -200%;
  }

  100% {
    margin-left: 0;
  }
}

.title-menu-section {
  font-family: "Sacramento", cursive;
  font-size: 50px;
  padding: 40px;
}

/*-----diseño cards-----*/

.container-card {
  padding: 20px 30px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  width: 220px;
  height: 100%;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s ease;
}

.card img {
  width: 100%;
  height: 230px;
  object-fit: cover;
}

.card-content {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card p {
  margin: 5px 0;
}

.btn-comprar {
  display: block;
  padding: 10px;
  background-color: #2d5d41;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-comprar:hover {
  background-color: #8bb887;
}

.card:hover {
  transform: scale(1.05);
}

/*-----diseño footer-----*/
.container-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 10px;
}

.icons-footer {
  display: flex;
  gap: 15px;
}

.icon-footer {
  color: white;
}

.text-footer {
  font-size: 15px;
  display: flex;
  justify-content: center;
}

.test {
  display: flex;
  flex-direction: column;
}

/*---------desktop----------*/

@media (min-width: 992px) {
  .grid-container {
    grid-template-areas:
      "nav nav"
      "menu gallery"
      "footer footer";
    grid-template-rows: 1fr 10fr;
    grid-template-columns: 20% 80%;
  }

  .icon-bars {
    display: none;
  }

  .container-brand {
    font-size: 50px;
  }

  .logo {
    width: 50px;
  }

  .container-menu {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
  }

  .container-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-top: 150px;
  }

  .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 15px;
  }

  /*-----diseño footer-----*/
  .container-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 10px;
  }

  .icons-footer {
    display: flex;
    gap: 15px;
  }

  .icon-footer {
    color: white;
  }

  .text-footer {
    font-size: 15px;
    display: flex;
    justify-content: center;
  }

  footer {
    gap: 15px;
    padding: 15px;
  }

  .icon-footer {
    font-size: 2em;
  }

  /*-----carrusel gallery desktop-----*/
  .carrusel-container {
    overflow: hidden;
  }

  .carrusel {
    animation: automatizacion 12s infinite linear;
    transition: all 0.85s ease;
    width: 300%;
    height: 85vh;
  }

  .imagenes {
    height: 600px;
    width: 100%;
  }

  .carrusel-gallery {
    float: left;
    width: 33.333%;
  }

  @keyframes automatizacion {
    0% {
      margin-left: 0;
    }

    30% {
      margin-left: 0;
    }

    35% {
      margin-left: -100%;
    }

    65% {
      margin-left: -100%;
    }

    70% {
      margin-left: -200%;
    }

    95% {
      margin-left: -200%;
    }

    100% {
      margin-left: 0;
    }
  }
}
